// Base colors
$yellow: #f99f1f;
$skyeBlue: #20ace2;
$pink: #c01a8d;
$bodyBackground: #5fafcf;
$white: #fff;
$bodyBackgroundLightBlue: #bde5ff;
$orrange: #69420e;
$blue: #184097;
$green: #1e5a12;
$violet: #7d3db5;

//Fonts
$fontNunito: 'Nunito', 'shrutiregular', sans-serif;

//Font size
$fontSizeBody: 16px;
$fontSizeLink: 16px; 

//footer link color
$footerLink: #cc964f;
$footerBorder: #f99f1f;

//image path
$imagePath: "../../images/"
